

fieldset {
    border: none;
}

.top_catalog {
    background-image: url(./images/catalog.jpeg);
    height: 400px;
}

.top__text {
    font-size: 64px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0%;
    color: white;
    margin-top: 127px;
}

.filters-box {
    margin-top: 64px;
    margin-bottom: 37px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.filters {
    display: flex;
    gap: 10px;
    &__url {
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0%;
        text-decoration: none;
        color: black;
    }
}

.filter {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    box-sizing: border-box;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 20px;
    padding: 10px 23px;
    background-color: white;  
    padding-right: 54px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.filter-left {
    position: relative;
}

.filters-select {   
    position: relative;
}
.filters-select::after {
    content: url(images/option_triangle.svg);
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 1;
    width: 20px;
    height: 11px;
    pointer-events: none;
    box-sizing: border-box;
}
.filters__nav {
    display: flex;
    gap: 10px;
    align-items: center;
}

.filter_thin-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
}
.form {
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px 48px;
    position: absolute;
    background-color: white;
    width: 541.5px;
    top: 55px;
    right: 0;
    box-shadow: 
        2px 2px 2px rgba(0, 0, 0, 0.2),
        -2px -2px 2px rgba(0, 0, 0, 0.2);
    &__content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 36px;
    }
    &__time {
        &-radio {
            display: none;
            & + label {
                position: relative;
                cursor: pointer;
                padding-left: 29px;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0%;
                text-align: left;
            }
            & + label::before {
                content: "";
                box-sizing: border-box;
                border: 1px solid rgb(136, 136, 136);
                border-radius: 50%;
                width: 15px;
                height: 15px;
                position: absolute;
                left: 0;
                top: 1px;
            }
            &:checked + label:after {
                content: '';
                position: absolute; 
                left: 6px;
                top: 30%;
                transform: translateY(-50%);
                width: 6.5px; 
                height: 4.5px; 
                border: solid #000;
                border-width: 0px 0px 1px 1px;
                transform: rotate(-55deg) translateY(-50%); 
            }
            &:checked + label::before{
                border-color: black;
            }
        }
    }
    &__runner {
        appearance: none;
        position: absolute;
        width: 190px;
        top: 0;
    }
    &__runner::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 8px;
        height: 8px;
        background: #000;
        border-radius: 50%;
        position: relative;
        top: -3px;
        cursor: pointer;
    }
    &__runner::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        appearance: none;
        height: 1px;
        width: 190px;
        background: #000;
    }
    &__runner::-moz-range-thumb {
        -moz-appearance: none;
        appearance: none;
        width: 8px;
        height: 8px;
        background: #000;
        border-radius: 50%;
        position: relative;
        top: -3px;
        cursor: pointer;
    }
    &__runner::-moz-range-track {
        -moz-appearance: none;
        appearance: none;
        height: 1px;
        background: #000;
    }
    &__runners {
        position: relative;
        margin-top: 14px;
    }
    &__runner-heading {
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__runner-heading-space {
        margin-left: 14px;
    }
    &__fieldset_colors {
        width: 189px;
    }
    &__colors {
        display: flex;
        flex-wrap: wrap;
        gap: 14px;
    }
    &__color {
        display: none;
    }
    &__color + label {
        position: relative;
        padding-left: 15px;
        width: 0px;
        cursor: pointer;
    }
    &__color + label::before {
        content: "";
        box-sizing: border-box;
        width: 15px;
        height: 15px;
        position: absolute;
        left: 0;
        top: 1px;
    }
    &__color:checked + label:after {
        content: '';
        position: absolute; 
        left: 6px;
        top: 30%;
        transform: translateY(-50%);
        width: 6.5px; 
        height: 4.5px; 
        border: solid #000;
        border-width: 0px 0px 1px 1px;
        transform: rotate(-55deg) translateY(-50%); 
    }
    &__color:checked + label::before {
        border: 1px solid #000;
    } 
    &__room-type {
        display: none;
    }

    &__room-type + label {
        position: relative;
        padding-left: 29px;
        cursor: pointer;
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__room-type:checked + label::before {
        border: 1px solid #000;
    } 
    &__room-type + label::before {
        content: "";
        box-sizing: border-box;
        border: 1px solid rgb(136, 136, 136);
        width: 15px;
        height: 15px;
        position: absolute;
        left: 0;
        top: 1px;
    }
    &__room-type:checked + label:after {
        content: '';
        position: absolute; 
        left: 6px;
        top: 30%;
        transform: translateY(-50%);
        width: 6.5px; 
        height: 4.5px; 
        border: solid #000;
        border-width: 0px 0px 1px 1px;
        transform: rotate(-55deg) translateY(-50%);
    }

    &__button-submit {
        border: 1px solid black;
        border-radius: 20px;
        padding: 10px 0;
        background: #fff;
        color: rgb(0, 0, 0);
        font-family: $mainFont;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        align-self: flex-end;
        width: 190px;
        text-align: center;
    }
    &__times {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
    &__heading {
        margin-bottom: 14px;
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__heading:first-child {
        margin-bottom: 16px;
    }
    &__left {
        display: flex;
        gap: 32px;
        flex-direction: column;
        margin-right: 65px;
        width: 190.5px;
    }
    &__room-types {
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding-right: 36px;
        white-space: nowrap;
    }
    &__fieldset_price {
        width: 190.5px;
    }
    
    
}

#white + label::before {
    background: white;
    border: 1px solid rgb(136, 136, 136);
}
#black + label::before {
    background: black;
}
#black:checked + label:after {
    content: '';
    position: absolute; 
    left: 6px;
    top: 30%;
    transform: translateY(-50%);
    width: 6.5px; 
    height: 4.5px; 
    border: solid #fff;
    border-width: 0px 0px 1px 1px;
    transform: rotate(-55deg) translateY(-50%); 
}
#gray + label::before {
    background:gray ;
}
#red + label::before {
    background:red ;
}
#orange + label::before {
    background:orange ;
}
#yellow + label::before {
    background: yellow;
}
#green + label::before {
    background: rgb(0, 191, 42);
}
#light-green + label::before {
    background: rgb(28, 204, 151);
}
#blue + label::before {
    background: rgb(0, 159, 227);
}
#darkblue + label::before {
    background: rgb(0, 10, 248);
}
#purple + label::before {
    background: rgb(103, 16, 214);
}
#violet + label::before {
    background: rgb(157, 13, 181);
}
#light-pink + label::before {
    background: rgb(216, 154, 255);
} 
#pink + label::before {
    background: rgb(255, 101, 166);
}



