@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
}

header {
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

ul {
  list-style-type: none;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

button {
  transition: background-color 0.3s ease-in-out;
}

.top {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.top_index {
  background-image: url(./images/index.jpeg);
  height: 735px;
}

.header__logo, .footer__logo {
  width: 198px;
  height: 44px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__input {
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  width: 288px;
  height: 41px;
  background: transparent;
  padding-left: 32px;
  color: white;
}

.header__input::-moz-placeholder {
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.header__input::placeholder {
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

.header__nav {
  width: 190px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header__nav-mob {
  display: none;
}

.header__link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.header__link:hover, .footer__url:hover, .filters__url:hover {
  text-decoration: underline;
}

.start {
  color: #fff;
}

.start__text {
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 64px;
  margin-bottom: 16px;
}

.start__text2 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  font-weight: 400;
}

.start__link {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.start__link:hover {
  text-decoration: none;
}

.for-box {
  margin: 64px 0;
}

.for-box__text {
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
  letter-spacing: 0%;
  margin-bottom: 32px;
}

.for {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
}

.for__item {
  height: 415px;
  grid-column: span 4;
  color: rgb(255, 255, 255);
  font-family: "Montserrat";
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.for__item_big {
  grid-column: span 6;
}

.for__item_1 {
  background: url(images/for-1.jpeg);
}

.for__item_2 {
  background: url(images/for-2.jpeg);
}

.for__item_3 {
  background: url(images/for-3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.for__item_4 {
  background: url(images/for-4.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.for__item_5 {
  background: url(images/for-5.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product {
  width: 378px;
}
.product-content {
  display: flex;
  flex-wrap: wrap;
  row-gap: 56px;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.product-box_margin {
  margin-top: 64px;
}
.product-box__text {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 32px;
}
.product__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 8px;
  margin-top: 10px;
}
.product__description {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 8px;
}
.product__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}
.product__price_crossed {
  text-decoration-line: line-through;
  color: #888888;
}

.prices {
  display: flex;
  gap: 32px;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.link-box {
  margin-top: 32px;
  margin-bottom: 64px;
  color: black;
}

.link-box__link {
  color: black;
}

footer {
  background: #F7F6F6;
  padding-top: 32px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__info {
  display: flex;
  gap: 129px;
}

.footer__content {
  width: 792px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.footer__url {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888;
  text-decoration: none;
}

.networks {
  display: flex;
  align-items: center;
  gap: 20px;
}

.network:hover path {
  fill: #000000;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.news__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.news__input {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #c4c4c4;
  width: 260px;
  height: 40px;
  padding-left: 17px;
}

.news__input:focus, .header__input:focus {
  outline: none;
}

.news__input::-moz-placeholder {
  color: rgb(196, 196, 196);
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.news__input::placeholder {
  color: rgb(196, 196, 196);
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}

.news__button {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  width: 260px;
  height: 40px;
  font-size: 15px;
  line-height: 18px;
  color: rgb(0, 0, 0);
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
}

.top_cart {
  background-image: url(./images/cart_header.jpeg);
  height: 400px;
}

.top__heading {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 127px;
}

.cart {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  margin-top: 64px;
  margin-bottom: 64px;
}
.cart__content {
  grid-column: span 8;
}
.cart__form {
  grid-column: span 4;
}
.cart__info {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgb(202, 205, 216);
}
.cart__text {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 14px;
}
.cart__text:last-child {
  margin-right: 27px;
}
.cart__items {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.cart__items div:last-child {
  border: none;
  padding: 0;
  margin: 0;
}
.cart__item {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgb(202, 205, 216);
  padding-bottom: 32px;
}
.cart__item-left {
  display: flex;
  gap: 32px;
}
.cart__item-image {
  width: 173px;
  height: 173px;
}
.cart__item-info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.cart__item-name {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}
.cart__item-description {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  width: 276px;
}
.cart__item-price {
  color: rgb(5, 5, 5);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
}
.cart__item-urls {
  display: flex;
  gap: 30px;
}
.cart__item-url {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
  text-decoration-line: underline;
}
.cart__item-url:hover {
  color: rgb(136, 136, 136);
  text-decoration: none;
}
.cart__item-input {
  width: 71px;
  height: 51px;
  border-radius: 6px;
  background: rgb(247, 246, 246);
  color: rgb(0, 0, 0);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
  border: none;
}
.cart__buttons {
  display: flex;
  gap: 7px;
  margin-top: 50px;
}
.cart__button {
  color: rgb(2, 2, 2);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  padding: 10px 33px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  background: transparent;
}
.cart__form {
  border-radius: 20px;
  background: rgb(247, 246, 246);
  padding-top: 42px;
  padding-bottom: 148px;
  text-align: center;
  width: 379px;
  margin-left: 25px;
}
.cart__form-heading {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}
.cart__form-inputs {
  margin-top: 35px;
  margin-right: 56px;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  gap: 41px;
  margin-bottom: 64px;
  color: rgb(0, 0, 0);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  width: 288px;
}
.cart__form-input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(202, 205, 216);
  background-color: transparent;
}
.cart__form-input::-moz-placeholder {
  color: rgb(0, 0, 0);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
}
.cart__form-input::placeholder {
  color: rgb(0, 0, 0);
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
}
.cart__form-total {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0px;
}
.cart__form-price {
  font-weight: 500;
}
.cart__form-button {
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 20px;
  padding: 10px 76px;
  margin-top: 18px;
  font-family: "Montserrat";
  background: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

.link-box__link-mob {
  display: none;
}

.link-box__link-cart {
  display: block;
}

fieldset {
  border: none;
}

.top_catalog {
  background-image: url(./images/catalog.jpeg);
  height: 400px;
}

.top__text {
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  color: white;
  margin-top: 127px;
}

.filters-box {
  margin-top: 64px;
  margin-bottom: 37px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.filters {
  display: flex;
  gap: 10px;
}
.filters__url {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-decoration: none;
  color: black;
}

.filter {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  padding: 10px 23px;
  background-color: white;
  padding-right: 54px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter-left {
  position: relative;
}

.filters-select {
  position: relative;
}

.filters-select::after {
  content: url(images/option_triangle.svg);
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 1;
  width: 20px;
  height: 11px;
  pointer-events: none;
  box-sizing: border-box;
}

.filters__nav {
  display: flex;
  gap: 10px;
  align-items: center;
}

.filter_thin-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
}

.form {
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  padding: 40px 48px;
  position: absolute;
  background-color: white;
  width: 541.5px;
  top: 55px;
  right: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), -2px -2px 2px rgba(0, 0, 0, 0.2);
}
.form__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 36px;
}
.form__time-radio {
  display: none;
}
.form__time-radio + label {
  position: relative;
  cursor: pointer;
  padding-left: 29px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.form__time-radio + label::before {
  content: "";
  box-sizing: border-box;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 1px;
}
.form__time-radio:checked + label:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 30%;
  transform: translateY(-50%);
  width: 6.5px;
  height: 4.5px;
  border: solid #000;
  border-width: 0px 0px 1px 1px;
  transform: rotate(-55deg) translateY(-50%);
}
.form__time-radio:checked + label::before {
  border-color: black;
}
.form__runner {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  width: 190px;
  top: 0;
}
.form__runner::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  background: #000;
  border-radius: 50%;
  position: relative;
  top: -3px;
  cursor: pointer;
}
.form__runner::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  height: 1px;
  width: 190px;
  background: #000;
}
.form__runner::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  background: #000;
  border-radius: 50%;
  position: relative;
  top: -3px;
  cursor: pointer;
}
.form__runner::-moz-range-track {
  -moz-appearance: none;
  appearance: none;
  height: 1px;
  background: #000;
}
.form__runners {
  position: relative;
  margin-top: 14px;
}
.form__runner-heading {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.form__runner-heading-space {
  margin-left: 14px;
}
.form__fieldset_colors {
  width: 189px;
}
.form__colors {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
.form__color {
  display: none;
}
.form__color + label {
  position: relative;
  padding-left: 15px;
  width: 0px;
  cursor: pointer;
}
.form__color + label::before {
  content: "";
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 1px;
}
.form__color:checked + label:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 30%;
  transform: translateY(-50%);
  width: 6.5px;
  height: 4.5px;
  border: solid #000;
  border-width: 0px 0px 1px 1px;
  transform: rotate(-55deg) translateY(-50%);
}
.form__color:checked + label::before {
  border: 1px solid #000;
}
.form__room-type {
  display: none;
}
.form__room-type + label {
  position: relative;
  padding-left: 29px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.form__room-type:checked + label::before {
  border: 1px solid #000;
}
.form__room-type + label::before {
  content: "";
  box-sizing: border-box;
  border: 1px solid rgb(136, 136, 136);
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 1px;
}
.form__room-type:checked + label:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 30%;
  transform: translateY(-50%);
  width: 6.5px;
  height: 4.5px;
  border: solid #000;
  border-width: 0px 0px 1px 1px;
  transform: rotate(-55deg) translateY(-50%);
}
.form__button-submit {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 0;
  background: #fff;
  color: rgb(0, 0, 0);
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  align-self: flex-end;
  width: 190px;
  text-align: center;
}
.form__times {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.form__heading {
  margin-bottom: 14px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.form__heading:first-child {
  margin-bottom: 16px;
}
.form__left {
  display: flex;
  gap: 32px;
  flex-direction: column;
  margin-right: 65px;
  width: 190.5px;
}
.form__room-types {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-right: 36px;
  white-space: nowrap;
}
.form__fieldset_price {
  width: 190.5px;
}

#white + label::before {
  background: white;
  border: 1px solid rgb(136, 136, 136);
}

#black + label::before {
  background: black;
}

#black:checked + label:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 30%;
  transform: translateY(-50%);
  width: 6.5px;
  height: 4.5px;
  border: solid #fff;
  border-width: 0px 0px 1px 1px;
  transform: rotate(-55deg) translateY(-50%);
}

#gray + label::before {
  background: gray;
}

#red + label::before {
  background: red;
}

#orange + label::before {
  background: orange;
}

#yellow + label::before {
  background: yellow;
}

#green + label::before {
  background: rgb(0, 191, 42);
}

#light-green + label::before {
  background: rgb(28, 204, 151);
}

#blue + label::before {
  background: rgb(0, 159, 227);
}

#darkblue + label::before {
  background: rgb(0, 10, 248);
}

#purple + label::before {
  background: rgb(103, 16, 214);
}

#violet + label::before {
  background: rgb(157, 13, 181);
}

#light-pink + label::before {
  background: rgb(216, 154, 255);
}

#pink + label::before {
  background: rgb(255, 101, 166);
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .product-content {
    -moz-column-gap: 28px;
         column-gap: 28px;
    row-gap: 39px;
  }
  .footer__logo {
    display: none;
  }
  .form {
    right: -237px;
  }
  .cart__form {
    margin-left: 0;
    margin-top: 64px;
  }
  .cart__buttons {
    margin-top: 32px;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product-content {
    display: flex;
    justify-content: center;
  }
  .product {
    width: 345px;
  }
  .product__img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px;
    border-bottom: 0px;
  }
  .header__input {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__nav-mob {
    display: flex;
    gap: 32px;
    align-items: center;
  }
  .header__logo, .footer__logo {
    width: 99px;
  }
  .top__text {
    margin-top: 82px;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .top__heading {
    margin-top: 82px;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .start {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .start__text {
    text-align: center;
    margin-top: 29px;
    font-size: 48px;
    line-height: 59px;
  }
  .start__text2 {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .start__link {
    font-size: 14px;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for-box__text {
    font-size: 24px;
    line-height: 29px;
  }
  .for__item {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
    line-height: 34px;
  }
  .for__item_big {
    height: 244px;
  }
  .filters {
    flex-wrap: wrap-reverse;
    width: 203px;
  }
  .filters-box {
    flex-direction: column;
    justify-content: start;
    gap: 14px;
  }
  .form {
    left: 0;
    width: -moz-fit-content;
    width: fit-content;
  }
  .form__content {
    flex-direction: column;
    gap: 32px;
  }
  .form__left {
    margin-right: 0;
  }
  .form__room-types {
    padding-right: 0px;
  }
  .cart {
    margin-top: 67px;
  }
  .cart__info {
    display: none;
  }
  .cart__items {
    gap: 18px;
  }
  .cart__item-image {
    display: none;
  }
  .cart__item-name {
    font-size: 18px;
    line-height: 22px;
  }
  .cart__item-description, .cart__item-price {
    font-size: 12px;
    line-height: 15px;
  }
  .cart__item:first-child {
    border-top: 0.5px solid rgb(202, 205, 216);
    padding-top: 18px;
    padding-bottom: 24px;
  }
  .cart__button {
    padding: 11px 0;
    white-space: nowrap;
    width: 166px;
    font-size: 12px;
    line-height: 15px;
  }
  .cart__form-inputs {
    margin-right: 27px;
    margin-left: 27px;
  }
  .cart__buttons {
    gap: 14px;
  }
  .cart__form {
    width: 343px;
  }
  .link-box__link-cart {
    display: none;
  }
  .link-box__link-mob {
    display: block;
  }
  .product-content {
    display: flex;
    justify-content: center;
    gap: 32px;
  }
  .product {
    width: 343px;
  }
  .product__img {
    width: 343px;
  }
  .product__name {
    font-size: 18px;
    line-height: 22px;
  }
  .product__price {
    font-size: 18px;
    line-height: 22px;
  }
  .product-box__text {
    font-size: 24px;
    line-height: 29px;
    width: 70%;
  }
  .footer__content {
    justify-content: center;
    gap: 69px;
  }
}/*# sourceMappingURL=style.css.map */